div
  v-btn(color="info" @click="goToListCustomer") List Customer
  v-text-field(v-model="item.firstName" label="First Name" required)
  v-text-field(v-model="item.lastName" label="Last Name" required)
  v-text-field(v-model="item.email" label="Email" required)
  v-text-field(v-model="item.phone" label="Phone")
  v-text-field(v-model="item.address" label="Address" required)
  v-text-field(v-model="item.city" label="City")
  v-text-field(v-model="item.country" label="Country")
  v-text-field(v-model="item.memberID" label="Member ID" required)
  v-btn(color="success" @click="addCustomer") Add Customer
