div.customer-background
  div.customer-title
    h3 List Customer
    v-btn(color="success" @click="goToAddCustomer") Add Customer
  div.customer-list
    div(v-for="item in items").customer-outside
      div.customer-inside
        span {{item.firstName}} {{item.lastName}} {{item.email}}
          v-btn(color="info" @click="editCustomer(item.id)") Update
