div.customer-background
  div.customer-title
    h3 List Customer
    v-btn(color="success" @click="goToAddCustomer") Add Customer
  div.customer-list
    div(v-for="customer in customers").customer-outside
      div.customer-inside
        span {{customer.firstName}} {{customer.lastName}} {{customer.email}}
          v-btn(color="info" @click="editCustomer(customer.id)") Update
